<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NumberServlet</servlet-name>
        <servlet-class>Servlet.NumberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RandomNo</servlet-name>
        <servlet-class>Servlet.RandomNoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>csrngRead</servlet-name>
        <servlet-class>Servlet.csrngRead</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>csrngReaderServlet</servlet-name>
        <servlet-class>Servlet.csrngReaderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>Servlet.test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testServlet</servlet-name>
        <servlet-class>defunct.testServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JoinEventServlet</servlet-name>
        <servlet-class>Servlet.JoinEventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatabaseSetupServlet</servlet-name>
        <servlet-class>Servlet.DatabaseSetupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateEventServlet</servlet-name>
        <servlet-class>Servlet.CreateEventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CityListServlet</servlet-name>
        <servlet-class>Servlet.CityListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventListJsonServlet</servlet-name>
        <servlet-class>Servlet.EventListJsonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RandomNo</servlet-name>
        <url-pattern>/Servlet/RandomNo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>csrngRead</servlet-name>
        <url-pattern>/csrngRead</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>csrngReaderServlet</servlet-name>
        <url-pattern>/csrngReaderServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PoolAddServlet</servlet-name>
        <servlet-class>Servlet.PoolAddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PoolAddServlet</servlet-name>
        <url-pattern>/PoolAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testServlet</servlet-name>
        <url-pattern>/testServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JoinEventServlet</servlet-name>
        <url-pattern>/JoinEventServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatabaseSetupServlet</servlet-name>
        <url-pattern>/DatabaseSetupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateEventServlet</servlet-name>
        <url-pattern>/CreateEventServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CityListServlet</servlet-name>
        <url-pattern>/CityListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventListJsonServlet</servlet-name>
        <url-pattern>/EventListJsonServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
